
<div class="flex h-[70px] bg-white z-[2000] fixed top-0 right-0 left-[5px] border-2 border-white rounded-b-3xl">
  <div class="flex font-['Space_Mono'] items-center mt-[10px] mb-[10px] ml-[23px] mr-[15px] bg-white text-[28px]">Hello,
    <div class="font-['Space_Mono'] text-amber-400 font-semibold text-[28px] ml-[5px] relative">Camila</div>
    <div class="z-[3000] text-black absolute right-[30px] top-[30px] font-['Space_Mono'] text-[15px] mt-[-7px]">{{ today | date:'hh:mm:ss a' }}</div>
  </div>
</div>





    
